.main-outer{
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: var(--background-color);
}

.inner-wrapper{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-btn{
    display: flex;
    align-items: center;
    border: none;
    background-color: rgba(255,255,255,0.2);
    color: var(--light-color);
    border-radius: 50px;
    padding: 5px 12px;
}